<div class='col-sm-9 body-content' align="center">
  <h1>Seleccione el Modo deseado</h1>
  <div class="col-sm-4">
    <h3>Modo Principiante</h3>
    <img src="assets/img/03.jpg" />
    <br />

    <button type="button" class="btn btn-danger" (click)="principiante()">Seleccionar</button>
    
  </div>
  <div class="col-sm-4">
    <h3>Modo Intermedio</h3>
    <img src="assets/img/02.jpg" />

    <br />
    <button type="button" class="btn btn-warning" (click)="intermedio()">Seleccionar</button>
  </div>
  <div class="col-sm-4">
    <h3>Modo Avanzado</h3>
    <img src="assets/img/01.jpg" />
    <br />
    <button type="button" class="btn btn-success" (click)="avanzado()">Seleccionar</button>
</div>

</div>
